.ToggleButton {
  background-color: #fff !important;
  color: #000 !important;
  font-size: 16px;
  text-decoration: none;
  transition-duration: 0.5s;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  width: 200px;
}

.ToggleButton:hover {
  background-color: #ccc;
  color: white;
}

.ToggleButton.Mui-selected {
  background-color: #000 !important;
  color: white !important;
}

.TextField {
  border-radius: 5px;
  width: 100%;
  border: 2px solid #000;
  background-color: white;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

  .MuiInputBase-input {
    font-size: 20px;
    color: black;
  }

  .MuiOutlinedInput-notchedOutline {
    border: none;
  }
}
